header {
  background-color: var(--clr-gris);
  box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40rem;
  padding: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--clr-negro);
  font-family: 'Rubik', sans-serif;
}

/* Estilos para el botón */
#cambiar-tema {
  padding: .5rem;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: .2s;
  background-color: var(--clr-negro);
  color: var(--clr-gris);
}

#cambiar-tema:hover {
  background-color: var(--clr-gris);
  color: var(--clr-negro);
}

/* Estilos para el botón cuando se pasa el ratón por encima */
#cambiar-tema:hover {
  background-color: #242424; 
}


ul {
  list-style-type: none;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;  
  color: #000; 
}

                /* Tema oscuro */

body.tema-oscuro {
  background-color: #000;  
  color: #fff;  
}


body.tema-oscuro #pokemon-info, 
body.tema-oscuro #pokemon-estadisticas, 
body.tema-oscuro #cadena-evolutiva {
  background-color: #000;  
  color: #fff;  
  border: 1px solid #ffffff;
  margin: 10px;
  padding: 20px;
}

#pokemon-detalle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#pokemon-info, #pokemon-estadisticas, #cadena-evolutiva {
  border: 1px solid #000;
  margin: 10px;
  padding: 20px;
  
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  text-transform: capitalize;
  background-color: #fff; 
  color: #000;  
}
#pokemon-info{
  width: 20%;
}
#pokemon-estadisticas{
  width: 45%;
}
#cadena-evolutiva{
  width: 100%;
}
#pokemon-info img {
  width: 50%;
  border-radius: 10px;
}

#pokemon-estadisticas div {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

#pokemon-estadisticas div span {
  display: inline-block;
  width: 100px;
}

#pokemon-estadisticas div .barra {
  flex-grow: 1;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 10px;
}

#pokemon-estadisticas div .barra .relleno {
  height: 100%;
  background-color: #00f;
}

#cadena-evolutiva img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#cadena-evolutiva img:hover {
  transform: scale(1.1);
}
#cadena-evolutiva {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

#cadena-evolutiva div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
/* Estilo para la sombra del Pokémon actual en la cadena evolutiva */
.pokemon-actual {
  text-shadow:  rgba(0, 8, 255, 0.5);
}
/* ADAPTACION A OTROS  DISPOSITIVOS */
@media screen and (max-width: 640px) {
  #cadena-evolutiva { 
    flex-direction: row;
    justify-content: space-around;
  }

  #cadena-evolutiva div{
    
    align-items: flex-start; 
  }
}
@media (min-width: 768px) {
  #pokemon-detalle {
      flex-direction: row;
      flex-wrap: wrap;
  }
}
